@use 'abstracts' as *;

.hands-container {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  position: relative;
  max-width: 460px;

  .hands-bg {
    position: absolute;
    top: 40px;
    z-index: -3;
    width: 275px;
  }

  .single-hand {
    cursor: pointer;
    &:hover {
      transition: .5s;
      transform: scale(1.1);
      transform-style: preserve-3d;
      z-index: 3;

      &::before {
        transform: translateZ(-1rem)
      }
    }
  }

  #rock {
    @include hand($Rock-gradients, 8rem);
  }
  
  #paper {
    @include hand($Paper-gradients, 8rem);
  }
  
  #scissors {
    @include hand($Scissors-gradients, 8rem);
  }

}

.hands-container.bonus {
  width: 100%;
  margin: auto;
  top: 130px;
  margin-bottom: 420px;

  .hands-bg {
  position: absolute;
  top: 150px; bottom: 0; left: 50%; right: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  }
  
  #scissors {
    @include hand($Scissors-gradients, 110px);
    @include bonus-btns-position(-15px, 0, 0, 0);
    margin: auto;
  }

  #paper {
    @include hand($Paper-gradients, 110px);
    @include bonus-btns-position(110px, 0, 0, 220px);
  }

  #rock {
    @include hand($Rock-gradients, 110px);
    @include bonus-btns-position(270px, 0, 0, 160px);
  }

  #lizard {
    @include hand($Lizard-gradients, 110px);
    @include bonus-btns-position(270px, 0, 0, -160px);
  }
  
  #spock {
    @include hand($Spock-gradients, 110px);
    @include bonus-btns-position(110px, 0, 0, -220px);
  }
 
 }

