@use 'abstracts' as *;
$Hand-mobile-size : 8rem;
$Hand-medium-size : 11rem;

.hands-container {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  position: relative;
  max-width: 460px;

  .hands-bg {
    position: absolute;
    top: 40px;
    z-index: -1;
    width: 275px;
  }

  .single-hand {
    cursor: pointer;
    &:hover {
      transition: .5s;
      transform: scale(1.1);
      z-index: 3;
    }
  }
}

#rock {
  @include hand($Rock-gradients, $Hand-mobile-size);
}

#paper {
  @include hand($Paper-gradients, $Hand-mobile-size);
}

#scissors {
  @include hand($Scissors-gradients, $Hand-mobile-size);
}

#lizard {
  @include hand($Lizard-gradients, $Hand-mobile-size);
}

#spock {
  @include hand($Spock-gradients, $Hand-mobile-size);
  display: flex;
  justify-content: center;
  img {
    width: 40px;
  }
}

.hands-container.bonus {
  width: 100%;
  margin: auto;
  top: 130px;
  margin-bottom: 420px;

  .hands-bg {
  position: absolute;
  top: 150px; bottom: 0; left: 50%; right: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  }
  
  #scissors {
    @include hand($Scissors-gradients, 110px);
    @include bonus-btns-position(-15px, 0, 0, 0);
    margin: auto;
  }

  #paper {
    @include hand($Paper-gradients, 110px);
    @include bonus-btns-position(110px, 0, 0, 220px);
  }

  #rock {
    @include hand($Rock-gradients, 110px);
    @include bonus-btns-position(270px, 0, 0, 160px);
  }

  #lizard {
    @include hand($Lizard-gradients, 110px);
    @include bonus-btns-position(270px, 0, 0, -160px);
  }
  
  #spock {
    @include hand($Spock-gradients, 110px);
    @include bonus-btns-position(110px, 0, 0, -220px);
  }
 
 }

@media screen and (min-width: 750px){
  #rock {
    @include hand($Rock-gradients, $Hand-medium-size);
  }
  #paper {
    @include hand($Paper-gradients, $Hand-medium-size);
  }
  #scissors {
    @include hand($Scissors-gradients, $Hand-medium-size);
  }

  .hands-container {
    .hands-bg{
      width: 350px;
      top: 70px;
    }
  }
}
  


