@use 'abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

.in-game-stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;

  .single-choice {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
    font-size: 1.15rem;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Barlow Semi Condensed', sans-serif;

    &#computer-choice {
      & .single-hand {
        @include computerBtnGrowing();
      }
    } 

    &.winner {
      & .single-hand::after{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        border-radius: 50%;
        z-index: -1;
        @include btn-pulse();
      }
    }
  }

  .result-container {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    @include showResults(1s);
    
    p {
      font-size: 4rem;
      color: white;
    }

    button {
      width: 65%;
      padding: 1rem;
      border-radius: 15px;
      border-style: none;
      margin-top: 1rem;
      color: $Dark-text;
      letter-spacing: 2.5px;
      font-size: 1.1rem;
      text-transform: uppercase;

      &:hover {
        transition: .5s;
        color: getLast($Rock-gradients);
      }
    }
  }
}

@media (max-height: 800px) {
  .in-game-stage{
    .single-choice {
      margin-top: 2rem;
    }
    .result-container {
      margin-top: 1rem;
    }
  } 
}

@media (min-width: 900px) {
  .in-game-stage {
    flex-wrap: nowrap;
    gap: 2.5rem;
    margin-top: 5rem;

    .single-choice {
      p {
        order: 1;
      }

      .single-hand {
        order: 2;
      }
    }

    #user-choice {
      order: 1;
      @include userBtnAnimationX();
    }

    .result-container {
      order: 2;
    }
  
    #computer-choice {
      order: 3;
      @include computerBtnAnimationX();
    }
  
    .result-container {
      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1100px) {
  .in-game-stage {
    gap: 6rem;

    .single-choice {
      p {
        font-size: 1.25rem;
      }
    }
  }
}
