@use 'variables' as *;
@use 'functions' as *;
@mixin gamemode-btn($bg-color, $border-color) {
  border: 5px solid $border-color;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: $border-color;
  background-color: $bg-color;
  box-shadow: 0 0 3px $border-color, 0 0 3px $border-color inset;
  cursor: pointer;
}

@mixin hand($hand-type, $size) {
  background-color: white;
  border: 15px solid getLast($hand-type);
  border-radius: 50%;
  padding: 1.5rem;
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  position: relative;
  box-shadow: 0 4px 0 1px getInitial($hand-type);

  img {
    width: 100%;
  }
}

@mixin bonus-btns-position($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  margin: auto;
}

// Buttons pulse animation part
@keyframes btnPulseAnimation {
  0% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.07);
  }
  50% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.07),
    0 0 0 70px rgba(255, 255, 255, 0.06);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.07),
    0 0 0 70px rgba(255, 255, 255, 0.06),
    0 0 0 100px rgba(255, 255, 255, 0.03);
  }
  
}

@keyframes computerBtnAnimation {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  25%{
    opacity: .25;
    transform: scale(.25);
  }
  50%{
    opacity: .5;
    transform: scale(.5);
  }
  75%{
    opacity: .75;
    transform: scale(.75);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes resultsAnimation {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  50%{
    transform: translateY(-50%);
    opacity: .25;
  }
  75%{
    transform: translateY(-25%);
    opacity: .5;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@mixin btn-pulse() {
  animation: btnPulseAnimation 0.75s linear both;
}

@mixin computerBtnGrowing() {
  animation: computerBtnAnimation .5s linear both;
}

@mixin showResultsMobile($time) {
  animation: resultsAnimation $time linear both;
}
