@use 'abstracts' as *;

.show-rules-btn, .go-menu-btn {
  font-size: 1rem;
  color: white;
  background:none;
  border-style: initial;
  border: solid 2px white;
  border-radius: 10px;
  padding: .7rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;

  &:hover{
    transition: .5s;
    transform: scale(1.1);
  }
}

.rules-chart {
  background-color: rgb(235, 244, 255);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;

  h2 {
    color: $Dark-text;
    font-size: 2rem;
  }

  img {
    max-width: 100%;
  }

  .close-icon {
    height: 25px;
    transition: 1s;
    cursor: pointer;

    &:hover {
      transition: 1s;
      transform: scale(1.3);
    }
  }
}

@media (min-width: 750px) {
  .show-rules-btn, .go-menu-btn {
    font-size: 1.2rem;
  }
  
}

@media (max-height: 800px) {
  .main-container .btns-container {
    margin-top: -2rem;
  }
}

@media screen and (min-width: 900px) {
  .btns-container {
    position: absolute;
    top: 85%;
    right: 2rem;

    button {
      width: 120px;
    }
  }

  .rules-chart {
    flex-direction: row;
    flex-wrap: wrap;
    width: 390px;
    height: fit-content;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    z-index: 9999;
    
    h2 {
      width: 50%;
      order: 1;
      font-size: 1.5rem;
    }

    .close-icon {
      order: 2;
    }

    .rules-img {
      width: 100%;
      margin-top: .75rem;
      order: 3;
      display: flex;
      justify-content: center;
      
      img {
        width: 100%;
      }
    }
  }
}