@use 'abstracts' as *;

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  border: 3px solid $Scoreboard-border;
  border-radius: 10px;
  width: 100%;

  img {
    height: 75px;
  }

  .scoreboard-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    height: 85px;
    width: 85px;

    h2 {
      color: $Score-text;
      font-size: .8rem;
      letter-spacing: 1px;
    }

    p {
      font-size: 2.5rem;
      color: $Dark-text;
      font-weight: 700;
    }
  }

  @media (min-width: 750px) {
    padding: 1rem;

    .scoreboard-counter {
      width: 100px;
    
      h2 {
        font-size: .9rem;
      }
    }
  }
}