@forward '_variables';
@forward '_functions';
@use '_scoreboard';
@use '_rules';
@import url('https://fonts.googleapis.com/css2? family= Barlow+Semi+Condensed:wght@600;700 & display=swap');

*{
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(at top, 
  getInitial($Background-gradients) -50%,
  getLast($Background-gradients));
  height: 100vh;
  padding: 2.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
}
